<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.;Initial Catalog=1gb_zamov;Integrated Security=True;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ZamovConnectionString" connectionString="Data Source=.;Initial Catalog=1gb_zamov;Integrated Security=True;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ZamovStorage" connectionString="metadata=res://*/Models.Structure.csdl|res://*/Models.Structure.ssdl|res://*/Models.Structure.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=1gb_zamov;Integrated Security=True;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="OrderStorage" connectionString="metadata=res://*/Models.Orders.csdl|res://*/Models.Orders.ssdl|res://*/Models.Orders.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=1gb_zamov;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="MembershipStorage" connectionString="metadata=res://*/Models.Membership.csdl|res://*/Models.Membership.ssdl|res://*/Models.Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=1gb_zamov;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="SettingsStorage" connectionString="metadata=res://*/Models.SetingsStorage.csdl|res://*/Models.SetingsStorage.ssdl|res://*/Models.SetingsStorage.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=1gb_zamov;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="NewsStorage" connectionString="metadata=res://*/Models.News.csdl|res://*/Models.News.ssdl|res://*/Models.News.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=1gb_zamov;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="Reports" connectionString="metadata=res://*/Models.Reports.csdl|res://*/Models.Reports.ssdl|res://*/Models.Reports.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=1gb_zamov;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="SeoStorage" connectionString="metadata=res://*/Models.Seo.csdl|res://*/Models.Seo.ssdl|res://*/Models.Seo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=1gb_zamov;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>  
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>